<ion-header class="header" [translucent]="true">
  <ion-toolbar class="toolbar" style="padding-top: 30px;">
    <div class="logo">
      <a href="/">
        <img class="logo__image" src="./../../../assets/icon/playea-logo.png" alt="Logo Playea">
      </a>
    </div>
    <div slot="end">
      <app-user-header></app-user-header>
    </div>
  </ion-toolbar>
</ion-header>

<div *ngIf="isRegistered && isPopupOpen" class="user-header__popup">
  <div class="popup__container">
    <img [src]="userPhoto" alt="UserIcon" class="popup__image">
    <div class="popup__account-buttons">
      <a href="/auth/login" class="popup__account-button popup__account-link">Cambiar Cuenta</a>
      <a (click)="logout()" class="popup__account-button popup__account-link">Cerrar Sesión</a>
    </div>
    <div class="popup__nav-buttons">
      <a href="/profile" class="popup__nav-button popup__nav-link">Perfil</a>
      <a href="/favourites" class="popup__nav-button popup__nav-link">Favoritos</a>
    </div>
  </div>
</div>