 <section class="beach-detail-layout">
    <div class="beach-detail-layout__image">
        <img [src]="beach?.coverUrl" [alt]="beach?.name" class="beach-detail-layout__image-main" />
    </div>

    <div class="beach-detail-layout__sidebar-container">
        <div class="beach-detail-layout__sidebar" [ngClass]="{'blue-flag-border': beach?.blueFlag}">
            <section class="beach-detail-layout__header">
                <h1 class="beach-detail-layout__title">🏖️ {{ beach?.name }}</h1>
                <div class="beach-detail-layout__rating-info">
                    <span class="beach-detail-layout__rating">⭐ Clasificación: {{ beach?.classification }}</span>
                    <span class="beach-detail-layout__separator"> | </span>
                    <span class="beach-detail-layout__reviews">📝 Ocupación Anual: {{ beach?.annualMaxOccupancy }}</span>
                    <span class="beach-detail-layout__separator"> | </span>
                    <span class="beach-detail-layout__distance">📍 Municipio: {{ beach?.municipality }}</span>
                </div>
            </section>

            <section class="beach-detail-layout__datails">
                <h3 class="beach-detail-layout__title">🌤️ Clima</h3>
                <p class="beach-detail-layout__text">🏙️ Condición Medioambiental: {{ beach?.environmentCondition }}</p>
                <p *ngIf="beach?.hasSand" class="beach-detail-layout__text"> ⛱️ Playa de arena</p>
                <p *ngIf="beach?.hasRock" class="beach-detail-layout__text"> 🪨 Playa de rocas</p>
                <p *ngIf="beach?.accessByCar" class="beach-detail-layout__text"> 🚗 Accesible por coche</p>
                <p *ngIf="beach?.accessByFoot" class="beach-detail-layout__text"> 🚶‍♂️‍➡️ Accesible a pie</p>
                <p *ngIf="beach?.hasToilets" class="beach-detail-layout__text"> 🚽 Baños Accesibles</p>
                <p *ngIf="beach?.hasShowers" class="beach-detail-layout__text"> 🚿 Duchas Accesibles</p>
            </section>

            <button
            class="beach-detail-layout__favorite-button"
            (click)="toggleFavorite()"
            >
                <span *ngIf="(isFavorite$ | async); else notFavorite">❤️ Quitar de favoritos</span>
                <ng-template #notFavorite>🤍 Añadir a favoritos</ng-template>
            </button>

        </div>

        <!-- Texto explicativo sobre la bandera azul -->
        <p *ngIf="beach?.blueFlag" class="beach-detail-layout__blue-flag-info">
            🌊 <strong>Bandera Azul:</strong> Esta playa ha sido galardonada con la Bandera Azul, un reconocimiento internacional que certifica su calidad ambiental, seguridad y accesibilidad.
        </p>
    </div>
</section>
