 <div style="margin-bottom: 150px;">

     <section class="beach-detail-layout" style="max-height: 400px;">
         <div class="beach-detail-layout__image" style="max-height: 300px;">
             <img [src]="beach?.coverUrl" [alt]="beach?.name" class="beach-detail-layout__image-main" />
            </div>
            
            <div class="beach-detail-layout__sidebar-container" style="max-height: 400px; height: 100%;">
                <div class="beach-detail-layout__sidebar" [ngClass]="{'blue-flag-border': beach?.blueFlag}">
                    <section class="beach-detail-layout__header">
                        <ion-title class="beach-detail-layout__title">🏖️ {{ beach?.name }}</ion-title>
                        <div class="beach-detail-layout__rating-info">
                            <ion-text class="beach-detail-layout__rating">⭐ Clasificación: {{ beach?.classification }}</ion-text>
                            <ion-text class="beach-detail-layout__separator"> | </ion-text>
                            <ion-text class="beach-detail-layout__reviews">📝 Ocupación Anual: {{ beach?.annualMaxOccupancy }}</ion-text>
                            <ion-text class="beach-detail-layout__separator"> | </ion-text>
                            <ion-text class="beach-detail-layout__distance">📍 Municipio: {{ beach?.municipality }}</ion-text>
                        </div>
                    </section>
                    

      <section class="beach-detail-layout__datails">
        <ion-text class="beach-detail-layout__subtitle">🌤️ Clima</ion-text>
        <ion-text class="beach-detail-layout__text">🏙️ Condición Medioambiental: {{ beach?.environmentCondition }}</ion-text>
        <ion-text *ngIf="beach?.hasSand" class="beach-detail-layout__text">⛱️ Playa de arena</ion-text>
        <ion-text *ngIf="beach?.hasRock" class="beach-detail-layout__text">🪨 Playa de rocas</ion-text>
        <ion-text *ngIf="beach?.accessByCar" class="beach-detail-layout__text">🚗 Accesible por coche</ion-text>
        <ion-text *ngIf="beach?.accessByFoot" class="beach-detail-layout__text">🚶‍♂️‍➡️ Accesible a pie</ion-text>
        <ion-text *ngIf="beach?.hasToilets" class="beach-detail-layout__text">🚽 Baños Accesibles</ion-text>
        <ion-text *ngIf="beach?.hasShowers" class="beach-detail-layout__text">🚿 Duchas Accesibles</ion-text>
      </section>

      <ion-button
        class="beach-detail-layout__favorite-button"
        (click)="toggleFavorite()"
        expand="block"
      >
        <span *ngIf="(isFavorite$ | async); else notFavorite">❤️ Quitar de favoritos</span>
        <ng-template #notFavorite>🤍 Añadir a favoritos</ng-template>
      </ion-button>
    </div>

    <ion-text *ngIf="beach?.blueFlag" class="beach-detail-layout__blue-flag-info">
      🌊 <strong>Bandera Azul:</strong> Esta playa ha sido galardonada con la Bandera Azul, un reconocimiento internacional que certifica su calidad ambiental, seguridad y accesibilidad.
    </ion-text>
  </div>
</section>

</div>
