.main-layout {
  height: 100vh; /* ✅ OBLIGATORIO */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.main-layout ion-content {
  --background: #fff;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  flex-grow: 1;
}

.main-layout__header {
  width: 100%;
}

.main-layout__content {
  width: 100%;
  flex-grow: 1;
  --background: transparent;
  --ion-background-color: transparent;
}
