<div class="user-header">
  <div *ngIf="!isRegistered" class="user-header__auth-buttons">
    <a href="/auth/login" class="user-header__button user-header__button--login">Login</a>
    <a href="/auth/register" class="user-header__button user-header__button--register">Register</a>
  </div>

  <div *ngIf="isRegistered" class="user-header__user-menu">
    <a class="user-header__menu-toggle" (click)="togglePopup()">
      <img [src]="userPhoto" class="user-header__menu-icon" alt="User Avatar">
    </a>
  </div>
</div>