
<ion-content>
  <app-header-alignment></app-header-alignment>

  <!-- Banner Section -->
  <div class="banner">
    <div class="banner__content">
      <h1 class="banner__title">Encuentra tu playa perfecta</h1>
    </div>
  </div>
  
  <!-- Beach Grid Section -->
  <ion-grid style="padding: 0.5rem;">
    <app-beach-grid *ngIf="!loading" [beaches]="beaches" [showEmptyState]="true"></app-beach-grid>
  </ion-grid>
  
  <!-- Loading Indicator -->
  <div *ngIf="loading" class="loading-indicator">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Loading...</p>
  </div>
</ion-content>
